.places__card-webcite {
  align-self: end;
}

@media screen and (max-width: 767px) {
  .places__card-webcite {
    padding-left: var(--section-padding-left);
    padding-right: var(--section-padding-right);
  }
}
