.places__card {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  margin-block-end: 80px;
}

.places__card:last-child {
  margin-block-end: 0;
}

@media (min-width: 1024px) and (max-width: 1183px) {
  .places__card {
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .places__card {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 28px;
    margin-block-end: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places__card {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-row-gap: 32px;
    margin-block-end: 50px;
  }
}
