.photos {
  padding-bottom: var(--section-padding-bottom);
}

@media screen and (max-width: 1184px) {
  .photos {
    padding-left: var(--section-padding-left);
    padding-right: var(--section-padding-right);
  }
}
