.places__card-webcite-url {
  display: block;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  margin-block-end: 12px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .places__card-webcite-url {
    line-height: 12px;
  }
}
